In [2]:
#!pip install pyodbc

In [3]:
import pyodbc
import pandas as pd

In [4]:
uid = 'etl'
pwd = 'demopass'
driver = "{SQL Server Native Client 11.0}"
server = "localhost"
database = "AdventureWorksDW2019;"

In [5]:
conn = pyodbc.connect('DRIVER=' + driver + ';SERVER=' + server + '\SQLEXPRESS' + 
                      ';DATABASE=' + database + ';UID=' + uid + ';PWD=' + pwd)

In [6]:
sql = "SELECT * FROM [dbo].[DimProductCategory]"

In [7]:
df = pd.read_sql_query(sql, conn)
df.head()

,ProductCategoryKey,ProductCategoryAlternateKey,EnglishProductCategoryName,SpanishProductCategoryName,FrenchProductCategoryName
0,1,1,Bikes,Bicicleta,Vélo
1,2,2,Components,Componente,Composant
2,3,3,Clothing,Prenda,Vêtements
3,4,4,Accessories,Accesorio,Accessoire